<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/aboutUs.css">
</head>
<body>
    <div class="navBar">
        <a class="logo_wrap" href="">
            <img src="../images/logo.png" alt="">
        </a>
        <ul class="nav_wrap">
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT US</a></li>
            <li>
                <span><a class="lon_nav" href="">SIGNATURE MATERIALS</a></span>
                <ul class="sub_nav_wrap">
                    <li><a href="">PRODUCTS</a></li>
                    <li><a href="">UV TO IR OPTICS</a></li>
                    <li><a href="">HIGH PURITY HAFNIUM</a></li>
                    <li><a href="">CHALCOGENIDE GLASS</a></li>
                    <li><a href="">PEROVSKITES</a></li>
                    <li><a href="">HALIDE SALTS</a></li>
                    <li><a href="">BATTERY CHEMICALS</a></li>
                    <li><a href="">SEMICONDUCTORS</a></li>
                    <li><a href="">PHOTOVOLTAICS</a></li>
                    <li><a href="">TRANSPARENT CONDUCTORS</a></li>
                    <li><a href="">PRECIOUS METALS</a></li>
                    <li><a href="">PRECIOUS METALS</a></li>
                    <li><a href="">THERMAL SPRAY POWDERS</a></li>
                    <li><a href="">STARTER SOURCES</a></li>
                    <li><a href="">SEARCH LISTING</a></li>
                    <li><a href="">SAFETY DATA SHEETS</a></li>
                </ul>
            </li>
            <li><a class="lon_nav" href="">ANALYTICAL SERVICES</a></li>
            <li>
                <span><a href="">MANUFACTURING</a></span>
                <ul class="sub_nav_wrap">
                    <li><a href="">MANUFACTURING</a></li>
                    <li><a href="">SAMPLE GEOMETRY</a></li>
                    <li><a href="">PRODUCTION PROCESSES</a></li>
                    <li><a href="">BACKING PLATES</a></li>
                    <li><a href="">BONDING SERVICE</a></li>
                    <li><a href="">SPUTTERING SYSTEMS (LVS)</a></li>
                </ul>
            </li>
            <li><a class="lon_nav" href="">RESEARCH & DEVELOPMENT</a></li>
            <li>
                <span><a href="">CONTACT</a></span>
                 <ul class="sub_nav_wrap">
                     <li><a href="">CONTACT/REQUESTS</a></li>
                     <li><a href="">DOCUMENTS</a></li>
                     <li><a href="">UPDATES</a></li>
                     <li><a href="">CAREERS</a></li>
                 </ul>
            </li>
            <li><a href="">CAREERS</a></li>
        </ul>
    </div>


    <div class="content_aboutUs">
        <p></p>
    </div>
    


    <div class="footer">
        <ul class="footer_container">
            <li>
                <h2>GO TO</h2>
                <p><a href="">HOME</a></p>
                <p><a href="">SITEMAP</a></p>
            </li>
            <li>
                <h2>Technical Capabilities</h2>
                <p><a href="">HIGHLIGHTED MATERIALS</a></p>
                <p><a href="">ANALYSIS</a></p>
                <p><a href="">RESEARCH</a></p>
                <p><a href="">MANUFACTURING</a></p>
            </li>
            <li>
                <h2>COMPANY</h2>
                <p><a href="">About Us</a></p>
                <p><a href="">CONTACT</a></p>
            </li>
        </ul>
        <p>© LTS Research Laboratories, Inc., All Rights Reserved.</p>
    </div>
</body>
</html>