 <div class="footer">
     <ul class="footer_container">
         <li>
             <h2>GO TO</h2>
             <p><a href="">HOME</a></p>
             <p><a href="">SITEMAP</a></p>
         </li>
         <li>
             <h2>Technical Capabilities</h2>
             <p><a href="">HIGHLIGHTED MATERIALS</a></p>
             <p><a href="">ANALYSIS</a></p>
             <p><a href="">RESEARCH</a></p>
             <p><a href="">MANUFACTURING</a></p>
         </li>
         <li>
             <h2>COMPANY</h2>
             <p><a href="">About Us</a></p>
             <p><a href="">CONTACT</a></p>
         </li>
     </ul>
     <p>© LTS Research Laboratories, Inc., All Rights Reserved.</p>
 </div>