
<div class="footer">
    <ul>
        <li>
            Offices
        </li>
        <li>
            Cambridge Office:<br>
            Zyme Communications Ltd,<br>
            Stirling House,<br>
            Cambridge Innovation Park,<br>
            Denny End Road, Waterbeach,<br>
            Cambridge, CB25 9QE, UK<br>
        </li>
        <li>
            Manchester Office:<br>
            Beehive Lofts,<br>
            Beehive Mill,<br>
            Jersey Street,<br>
            Manchester, M4 6JG, UK<br>
        </li>
    </ul>
    <ul>
        <li>
            Offices
        </li>
        <li>
            Cambridge Office:<br>
            Zyme Communications Ltd,<br>
            Stirling House,<br>
            Cambridge Innovation Park,<br>
            Denny End Road, Waterbeach,<br>
            Cambridge, CB25 9QE, UK<br>
        </li>
        <li>
            Manchester Office:<br>
            Beehive Lofts,<br>
            Beehive Mill,<br>
            Jersey Street,<br>
            Manchester, M4 6JG, UK<br>
        </li>
    </ul>
    <ul>
        <li>
            Offices
        </li>
        <li>
            Cambridge Office:<br>
            Zyme Communications Ltd,<br>
            Stirling House,<br>
            Cambridge Innovation Park,<br>
            Denny End Road, Waterbeach,<br>
            Cambridge, CB25 9QE, UK<br>
        </li>
        <li>
            Manchester Office:<br>
            Beehive Lofts,<br>
            Beehive Mill,<br>
            Jersey Street,<br>
            Manchester, M4 6JG, UK<br>
        </li>
    </ul>
</div>