<div class="header">
    <a class="logo_wrap" href="/home">
        <img src="../images/logo.jpg" alt="">
    </a>
    <ul class="navbar">
        <li class="home">
            <a href="/home">Home</a>
        </li>
        <li class="pop_01 aboutUs">
            <span><a href="/aboutUs">About Us</a></span>
            <ul class="pop_list pop_list_01">
                <li class="news"><a href="/news">News</a></li>
                <li class="events"><a href="/events">Events</a></li>
                <li class="teams"><a href="/teams">Teams</a></li>
                <li class="careers"><a href="/careers">Careers</a></li>
            </ul>
        </li>
        <li class="services">
            <a href="/services">Services</a>
        </li>
        <li class="pop_02 experience">
            <span><a href="/experience">Experience</a></span>
            <ul class="pop_list pop_list_02 caseStudies">
                <li class="caseStudies"><a href="/caseStudies">Case Studies</a></li>
            </ul>
        </li>
        <li class="contact">
            <a href="/contact">Contact</a>
        </li>
    </ul>
</div>