<h3>Latest Tweets</h3>
<div class="litte_dividing_line"></div>
<div class="detail_wrap">
    <div class="text_wrap">
        <p>
            Avacta Group plc today announced that it is planning to submit an IND/CTA application early in 2020 to test the TMA… 
            <a class="tweets_link" href="https://t.co/Lryo9mDyXt ">https://t.co/Lryo9mDyXt</a>
        </p>
        <p class="arrow"></p>
    </div>
    <div class="litte_dividing_line"></div>
    <div class="text_wrap">
        <p>
            Avacta Group plc today announced that it is planning to submit an IND/CTA application early in 2020 to test the TMA… 
            <a class="tweets_link" href="https://t.co/Lryo9mDyXt ">https://t.co/Lryo9mDyXt</a>
        </p>
        <p class="arrow"></p>
    </div>
    <div class="litte_dividing_line"></div>
    <div class="text_wrap">
        <p>
            Avacta Group plc today announced that it is planning to submit an IND/CTA application early in 2020 to test the TMA… 
            <a class="tweets_link" href="https://t.co/Lryo9mDyXt ">https://t.co/Lryo9mDyXt</a>
        </p>
        <p class="arrow"></p>
    </div>
    <div class="litte_dividing_line"></div>
    <div class="text_wrap">
        <p>
            Avacta Group plc today announced that it is planning to submit an IND/CTA application early in 2020 to test the TMA… 
            <a class="tweets_link" href="https://t.co/Lryo9mDyXt ">https://t.co/Lryo9mDyXt</a>
        </p>
        <p class="arrow"></p>
    </div>
</div>
<div class="litte_dividing_line"></div>
